<div id="launcher_liveOEM" class="launcher_liveTvNew">
    <div id="launcherLiveTvTitle" class="launcherLiveTvTitle_c"></div>
    <div id="launcherLiveTv_Top" class="launcherLiveTvTop_Focus">
        <div class="OEMlauncherBackgroundMiddleVideo"></div>
        <div class="OEMlauncherContentMsg"></div>
        <div id="launcherLiveTv_ContentOem" class="launcherLiveTv_Content_c"></div>
        <div id="launcherLiveTv_ContentBottom" class="launcherLiveTv_ContentBottom_c">
            <img id="launcherLiveTv_top_img" class="launcherLiveTv_top_img_c" src="">
            <span id="launcherLiveTv_top_info" class="launcherLiveTv_info_c"></span>
        </div>
    </div>
    <div id="launcherLiveTv_BottomOem" class="launcherLiveTv_Bottom_c">
        <div id="launcherLiveTv_item0" class="launcherLiveTv_item_c">
            <img id="launcherLiveTv_item_img0" class="launcherLiveTv_item_img_c" src="">
            <img id="launcherLiveTv_item_line0" class="launcherLiveTv_item_line_c" src="images/liveTV_source_select.png">
            <span id="launcherLiveTv_item_info0" class="launcherLiveTv_item_info_c"></span>
        </div>
        <div id="launcherLiveTv_item1" class="launcherLiveTv_item_c">
            <img id="launcherLiveTv_item_img1" class="launcherLiveTv_item_img_c" src="">
            <img id="launcherLiveTv_item_line1" class="launcherLiveTv_item_line_c" src="images/liveTV_source_select.png">
            <span id="launcherLiveTv_item_info1" class="launcherLiveTv_item_info_c"></span>
        </div>
        <div id="launcherLiveTv_item2" class="launcherLiveTv_item_c">
            <img id="launcherLiveTv_item_img2" class="launcherLiveTv_item_img_c" src="">
            <img id="launcherLiveTv_item_line2" class="launcherLiveTv_item_line_c" src="images/liveTV_source_select.png">
            <span id="launcherLiveTv_item_info2" class="launcherLiveTv_item_info_c"></span>
        </div>
    </div>
</div>