<div id="template1013" style="margin-top: 120px">
    <div id="OEMTemplate1013Title" style="height:48px;width: 1092px;font-size: 48px;line-height:48px;color: #FFFFFF;"></div>
    <div style="margin-top: 27px">
        <div id="OEMTemplate1013Left" class="OEMTemplate1013Left">
            <div>
                <div id="OEMTem1013Position2" class="OEMTem1013Position2Normal">
                    <img id="OEMTem1013Position2_img" class="OEMTem1012_360_240_img">
                    <span id="OEMTem1013Position2_txt"></span>
                </div>
                <div id="OEMTem1013Position3" class="OEMTem1013Position3Normal">
                    <img id="OEMTem1013Position3_img" class="OEMTem1012_360_240_img">
                    <span id="OEMTem1013Position3_txt"></span>
                </div>
                <div id="OEMTem1013Position4" class="OEMTem1013Position4Normal">
                    <img id="OEMTem1013Position4_img" class="OEMTem1012_360_240_img">
                    <span id="OEMTem1013Position4_txt"></span>
                </div>
                <div id="OEMTem1013Position5" class="OEMTem1013Position5Normal">
                    <img id="OEMTem1013Position5_img" class="OEMTem1012_360_240_img">
                    <span id="OEMTem1013Position5_txt"></span>
                </div>
                <div id="OEMTem1013Position6" class="OEMTem1013Position6Normal">
                    <img id="OEMTem1013Position6_img" class="OEMTem1012_360_240_img">
                    <span id="OEMTem1013Position6_txt"></span>
                </div>
                <div id="OEMTem1013Position7" class="OEMTem1013Position7Normal">
                    <img id="OEMTem1013Position7_img" class="OEMTem1012_360_240_img">
                    <span id="OEMTem1013Position7_txt"></span>
                </div>
                <div id="OEMTem1013Position1" class="OEMTem1013Position1Normal">
                    <img id="OEMTem1013Position1_img" class="OEMTem1012_360_486_img">
                    <span id="OEMTem1013Position1_txt"></span>
                </div>
                <div id="OEMTem1013Position8" class="OEMTem1013Position8Normal">
                    <img id="OEMTem1013Position8_img" class="OEMTem1012_360_240_img">
                    <span id="OEMTem1013Position8_txt"></span>
                </div>
            </div>
            <div id="OEMTemplate1013Mask" style="width: 1092px;height: 732px;background-color: #000000;opacity: 0.6;position: relative;top: -2166px;"></div>
        </div>
        <div id="OEMTemplate1013Right" class="OEMTemplate1013Right">
            <div id="OEMTem1013EditAppList" class="OEMTem1013EditAppListDelete">
                <li>
                    <img id="OEMTem1013EditApp_img" class="OEMTem1012_255_178_img">
                    <span id="OEMTem1013EditApp_name"></span>
                    <img id="OEMTem1013EditApp_delete">
                </li>
            </div>
        </div>
    </div>

</div>