<div id="template1012" style="margin-top: 120px">
    <div id="OEMTemplate1012Title" style="height:48px;width: 726px;font-size: 48px;line-height:48px;color: #FFFFFF;"></div>
    <div style="margin-top: 27px">
        <div id="OEMTemplate1012Left" class="OEMTemplate1012Left">
            <div>
                <div id="OEMTem1012Position2" class="OEMTem1012Position2Normal">
                    <img id="OEMTem1012Position2_img" class="OEMTem1012_360_240_img">
                    <span id="OEMTem1012Position2_txt"></span>
                </div>
                <div id="OEMTem1012Position5" class="OEMTem1012Position5Normal">
                    <img id="OEMTem1012Position5_img" class="OEMTem1012_360_240_img">
                    <span id="OEMTem1012Position5_txt"></span>
                </div>
                <div id="OEMTem1012Position3" class="OEMTem1012Position3Normal">
                    <img id="OEMTem1012Position3_img" class="OEMTem1012_360_240_img">
                    <span id="OEMTem1012Position3_txt"></span>
                </div>

                <div id="OEMTem1012Position4" class="OEMTem1012Position4Normal">
                    <img id="OEMTem1012Position4_img" class="OEMTem1012_360_240_img">
                    <span id="OEMTem1012Position4_txt"></span>
                </div>

                <div id="OEMTem1012Position1" class="OEMTem1012Position1Focus">
                    <img id="OEMTem1012Position1_img" class="OEMTem1012_360_486_img">
                    <span id="OEMTem1012Position1_txt"></span>
                </div>
            </div>
            <div id="OEMTemplate1012Mask" style="width: 726px;height: 732px;background-color: #000000;opacity: 0.6;position: relative;top: -1446px;"></div>
        </div>
        <div id="OEMTemplate1012Right" class="OEMTemplate1012Right">
            <div id="OEMTem1012EditAppList" class="OEMTem1012EditAppListDelete">
                <li>
                    <img id="OEMTem1012EditApp_img" class="OEMTem1012_255_178_img">
                    <span id="OEMTem1012EditApp_name"></span>
                    <img id="OEMTem1012EditApp_delete">
                </li>
            </div>
        </div>
    </div>

</div>