<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="template1006.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="template1006">
    <div class="template1006_title">
	    <span id="template1006_title_text" class="template1006_title_text_normal"></span>
    </div>
    <div class="template1006_content">
		<div id="template1006_left" class="template1006_left">
			<div id="template1006_1" class="template1006_small_unfocus">
				<img id="template1006_1_img" class="template1006_img_small" src="">
				<span id="template1006_1_txt" class="template1006_txt_small"></span>
			</div>
			<div id="template1006_3" class="template1006_small_unfocus">
				<img id="template1006_3_img" class="template1006_img_small" src="">
				<span id="template1006_3_txt" class="template1006_txt_small"></span>
			</div>
			<div id="template1006_4" class="template1006_small_unfocus">
				<img id="template1006_4_img" class="template1006_img_small" src="">
				<span id="template1006_4_txt" class="template1006_txt_small"></span>
			</div>
		</div>
	    <div id="template1006_right" class="template1006_right">
		    <div id="template1006_2" class="template1006_big_unfocus">
			    <img id="template1006_2_img" class="template1006_img_big" src="">
			    <span id="template1006_2_txt" class="template1006_txt_big"></span>
		    </div>
		    <div id="template1006_5" class="template1006_small_unfocus">
			    <img id="template1006_5_img" class="template1006_img_small" src="">
			    <span id="template1006_5_txt" class="template1006_txt_small"></span>
		    </div>
		    <div id="template1006_6" class="template1006_small_unfocus">
			    <img id="template1006_6_img" class="template1006_img_small" src="">
			    <span id="template1006_6_txt" class="template1006_txt_small"></span>
		    </div>
	    </div>
    </div>
</div>
</body>
</html>