<div id="template1011" style="margin-top: 120px">
    <div id="OEMTemplate1011Title" style="height:48px;width: 1092px;font-size: 48px;line-height:48px;color: #FFFFFF;"></div>
    <div style="margin-top: 27px">
        <div id="OEMTemplate1011Left" class="OEMTemplate1011Left">
            <div>
                <div id="OEMTem1011Position2" class="OEMTem1011Position2Normal">
                    <img id="OEMTem1011Position2_img" class="OEMTem1011_360_240_img">
                    <span id="OEMTem1011Position2_txt"></span>
                </div>
                <div id="OEMTem1011Position3" class="OEMTem1011Position3Normal">
                    <img id="OEMTem1011Position3_img" class="OEMTem1011_360_240_img">
                    <span id="OEMTem1011Position3_txt"></span>
                </div>
                <div id="OEMTem1011Position4" class="OEMTem1011Position4Normal">
                    <img id="OEMTem1011Position4_img" class="OEMTem1011_360_240_img">
                    <span id="OEMTem1011Position4_txt"></span>
                </div>
                <div id="OEMTem1011Position5" class="OEMTem1011Position5Normal">
                    <img id="OEMTem1011Position5_img" class="OEMTem1011_360_240_img">
                    <span id="OEMTem1011Position5_txt"></span>
                </div>
                <div id="OEMTem1011Position6" class="OEMTem1011Position6Normal">
                    <img id="OEMTem1011Position6_img" class="OEMTem1011_360_240_img">
                    <span id="OEMTem1011Position6_txt"></span>
                </div>
                <div id="OEMTem1011Position7" class="OEMTem1011Position7Normal">
                    <img id="OEMTem1011Position7_img" class="OEMTem1011_360_240_img">
                    <span id="OEMTem1011Position7_txt"></span>
                </div>
                <div id="OEMTem1011Position1" class="OEMTem1011Position1Normal">
                    <img id="OEMTem1011Position1_img" class="OEMTem1011_360_486_img">
                    <span id="OEMTem1011Position1_txt"></span>
                </div>
                <div id="OEMTem1011Position8" class="OEMTem1011Position8Normal">
                    <img id="OEMTem1011Position8_img" class="OEMTem1011_360_240_img">
                    <span id="OEMTem1011Position8_txt"></span>
                </div>
            </div>
            <div id="OEMTemplate1011Mask" style="width: 1092px;height: 732px;background-color: #000000;opacity: 0.6;position: relative;top: -2166px;"></div>
        </div>

        <div id="OEMTemplate1011Right" class="OEMTemplate1011Right">
            <div id="OEMTem1011EditAppList" class="OEMTem1011EditAppListDelete">
                <li>
                    <img id="OEMTem1011EditApp_img" class="OEMTem1011_426_240_img">
                    <span id="OEMTem1011EditApp_name"></span>
                    <img id="OEMTem1011EditApp_delete">
                </li>
            </div>
        </div>
    </div>

</div>