<div id="template1008" style="margin-top: 120px">
    <div id="OEMTemplate1008Title" style="height:48px;width: 726px;font-size: 48px;line-height:48px;color: #FFFFFF;"></div>
    <div style="margin-top: 27px">
        <div id="OEMTemplate1008Left" class="OEMTemplate1008Left">
            <div>
                <div id="OEMTem1008Position2" class="OEMTem1008Position2Normal">
                    <img id="OEMTem1008Position2_img" class="OEMTem1008_360_240_img">
                    <span id="OEMTem1008Position2_txt"></span>
                </div>
                <div id="OEMTem1008Position5" class="OEMTem1008Position5Normal">
                    <img id="OEMTem1008Position5_img" class="OEMTem1008_360_240_img">
                    <span id="OEMTem1008Position5_txt"></span>
                </div>
                <div id="OEMTem1008Position3" class="OEMTem1008Position3Normal">
                    <img id="OEMTem1008Position3_img" class="OEMTem1008_360_240_img">
                    <span id="OEMTem1008Position3_txt"></span>
                </div>
                <div id="OEMTem1008Position4" class="OEMTem1008Position4Normal">
                    <img id="OEMTem1008Position4_img" class="OEMTem1008_360_240_img">
                    <span id="OEMTem1008Position4_txt"></span>
                </div>
                <div id="OEMTem1008Position1" class="OEMTem1008Position1Focus">
                    <img id="OEMTem1008Position1_img" class="OEMTem1008_360_486_img">
                    <span id="OEMTem1008Position1_txt"></span>
                </div>
            </div>
            <div id="OEMTemplate1008Mask" style="width: 726px;height: 732px;background-color: #000000;opacity: 0.6;position: relative;top: -1446px;"></div>
        </div>

        <div id="OEMTemplate1008Right" class="OEMTemplate1008Right">
            <div id="OEMTem1008EditAppList" class="OEMTem1008EditAppListDelete">
                <li>
                    <img id="OEMTem1008EditApp_img" class="OEMTem1008_240_240_img">
                    <span id="OEMTem1008EditApp_name"></span>
                    <img id="OEMTem1008EditApp_delete">
                </li>
            </div>
        </div>
    </div>

</div>