<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="templateC.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="templateC">
    <ul id="templateGridUl" style="width: 800px;height:500px;float: left;margin-top: 0px">
        <li class="gridul_normal">
            <span id="ctyName" class="ctyName">ddd</span>
        </li>
        <li class="gridul_normal">
            <span id="ctyName1" class="ctyName">bbb</span>
        </li>
        <li class="gridul_normal">
            <span id="ctyName2" class="ctyName">ccc</span>
        </li>
        <li class="gridul_normal">
            <span id="ctyName3" class="ctyName">rrr</span>
        </li>
        <li class="gridul_normal">
            <span id="ctyName4" class="ctyName">yyy</span>
        </li>
    </ul>
</div>
</body>
</html>