<div id="template1009" style="margin-top: 120px">
    <div id="OEMTemplate1009Title" style="height:48px;width: 1092px;font-size: 48px;line-height:48px;color: #FFFFFF;"></div>
    <div style="margin-top: 27px">
        <div id="OEMTemplate1009Left" class="OEMTemplate1009Left">
            <div id="OEMTem1009Position1" class="OEMTem1009Position1Normal">
                <img id="OEMTem1009Position1_img" class="OEMTem1009_360_486_img">
                <span id="OEMTem1009Position1_txt"></span>
            </div>
            <div id="OEMTem1009Position2" class="OEMTem1009Position2Normal">
                <img id="OEMTem1009Position2_img" class="OEMTem1009_360_240_img">
                <span id="OEMTem1009Position2_txt"></span>
            </div>
            <div id="OEMTem1009Position3" class="OEMTem1009Position3Normal">
                <img id="OEMTem1009Position3_img" class="OEMTem1009_360_240_img">
                <span id="OEMTem1009Position3_txt"></span>
            </div>
            <div id="OEMTem1009Position4" class="OEMTem1009Position4Normal">
                <img id="OEMTem1009Position4_img" class="OEMTem1009_360_240_img">
                <span id="OEMTem1009Position4_txt"></span>
            </div>
            <div id="OEMTem1009Position5" class="OEMTem1009Position5Normal">
                <img id="OEMTem1009Position5_img" class="OEMTem1009_360_240_img">
                <span id="OEMTem1009Position5_txt"></span>
            </div>
            <div id="OEMTem1009Position6" class="OEMTem1009Position6Normal">
                <img id="OEMTem1009Position6_img" class="OEMTem1009_360_240_img">
                <span id="OEMTem1009Position6_txt"></span>
            </div>
            <div id="OEMTem1009Position7" class="OEMTem1009Position7Normal">
                <img id="OEMTem1009Position7_img" class="OEMTem1009_360_240_img">
                <span id="OEMTem1009Position7_txt"></span>
            </div>
            <div id="OEMTem1009Position8" class="OEMTem1009Position8Normal">
                <img id="OEMTem1009Position8_img" class="OEMTem1009_360_240_img">
                <span id="OEMTem1009Position8_txt"></span>
            </div>
            <div id="OEMTemplate1009Mask" style="width: 1092px;height: 732px;background-color: #000000;opacity: 0.6;position: relative;top: -2166px;"></div>
        </div>
        <div id="OEMTemplate1009Right" class="OEMTemplate1009Right">
            <div id="OEMTem1009EditAppList" class="OEMTem1009EditAppListDelete">
                <li>
                    <img id="OEMTem1009EditApp_img" class="OEMTem1009_240_240_img">
                    <span id="OEMTem1009EditApp_name"></span>
                    <img id="OEMTem1009EditApp_delete">
                </li>
            </div>
        </div>
    </div>
</div>