<div id="template1010" style="margin-top: 120px">
    <div id="OEMTemplate1010Title" style="height:48px;width: 726px;font-size: 48px;line-height:48px;color: #FFFFFF;"></div>
    <div style="margin-top: 27px">
        <div id="OEMTemplate1010Left" class="OEMTemplate1010Left">
            <div>
            <div id="OEMTem1010Position2" class="OEMTem1010Position2Normal">
                <img id="OEMTem1010Position2_img" class="OEMTem1010_360_240_img">
                <span id="OEMTem1010Position2_txt"></span>
            </div>
            <div id="OEMTem1010Position5" class="OEMTem1010Position5Normal">
                <img id="OEMTem1010Position5_img" class="OEMTem1010_360_240_img">
                <span id="OEMTem1010Position5_txt"></span>
            </div>
            <div id="OEMTem1010Position3" class="OEMTem1010Position3Normal">
                <img id="OEMTem1010Position3_img" class="OEMTem1010_360_240_img">
                <span id="OEMTem1010Position3_txt"></span>
            </div>

            <div id="OEMTem1010Position4" class="OEMTem1010Position4Normal">
                <img id="OEMTem1010Position4_img" class="OEMTem1010_360_240_img">
                <span id="OEMTem1010Position4_txt"></span>
            </div>

            <div id="OEMTem1010Position1" class="OEMTem1010Position1Focus">
                <img id="OEMTem1010Position1_img" class="OEMTem1010_360_486_img">
                <span id="OEMTem1010Position1_txt"></span>
                </div>
            </div>
            <div id="OEMTemplate1010Mask" style="width: 726px;height: 732px;background-color: #000000;opacity: 0.6;position: relative;top: -1446px;"></div>
        </div>
        <div id="OEMTemplate1010Right" class="OEMTemplate1010Right">
            <div id="OEMTem1010EditAppList" class="OEMTem1010EditAppListDelete">
                <li>
                    <img id="OEMTem1010EditApp_img" class="OEMTem1010_426_240_img">
                    <span id="OEMTem1010EditApp_name"></span>
                    <img id="OEMTem1010EditApp_delete">
                </li>
            </div>
        </div>
    </div>

</div>