#livetv_channel_list {
    width: 1920px;
    height: 1080px;
    /*background-image: url(../../img/epos/epos_image_2.jpg);*/
}

#livetv_channel_list span {
    overflow: hidden;
    text-overflow: ellipsis;

}

.liveTVListPanel {
    width: 440px;
    max-height: 1080px;
    float: right;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
}

.liveTVListPanel span  {
    white-space: nowrap;
    display: inline-block;
}
#livetv_list_title {
    text-align: center;
    height: 75px;
    color: white;
    line-height: 75px;
    float: right;
    font-size: 36px;
    width: 440px;
    background-image: url(../../img/channellist/title_left_focus.png);
}

#livetv_list_panel {
    width: 440px;
    max-height: 1000px;
    float: left;
}

#livetv_list_ul {
    width: 400px;
    padding: 0px 20px 0px 20px;
}

#livetv_list_ul li {
    width: 400px;
    height: 85px;
    line-height: 86px;
    color: #a1a5ac;
    font-size: 34px;
    border-bottom: 1px solid #383a3d;
    white-space: nowrap;
}

#livetv_list_ul li.focus {
    box-shadow: inset 0 0 0 4px #84ecff;
    color: #f0f0f0;
}

#livetv_list_ul li.disable {
    display: none;
}

#livetv_list_ul li div {
    width: 36px;
    height: 36px;
    margin: 25px 15px 25px 13px;
    background-image: url(../../img/unselectedBall.png);
    display: inline-block;
    vertical-align: top;
    /*float: left;*/
}

#livetv_list_ul li.focus div {
    background-image: url(../../img/selectedBall.png);
}

#livetv_list_ul li span{
    max-width: 310px;
}

.liveTVChannelPanel {
    width: 620px;
    height: 1080px;
    float: right;
    border-left: 1px solid #585757;
    /*margin-left: 1000px;*/
}

.liveTVChListTiltle {
    width: 620px;
    height: 75px;
    background: url(../../img/channellist/title_list.png);
    background-repeat: no-repeat;
    /*margin-top: 8px;*/
    /*float: right;*/
    /*margin-left: 1000px;*/
}

.liveTVChListTiltle span {
    text-align: center;
    height: 75px;
    color: white;
    line-height: 75px;
    float: right;
    font-size: 36px;
    white-space: nowrap;
}

.listTitleNormal {
    width: 240px;
    background: url(../../img/channellist/title_unfocus.png);
}

.listTitleHighlight {
    width: 330px;
    background: url(../../img/channellist/title_left_focus.png);
    background-size: 330px 75px;
}

.listTitleUnFocus {
    width: 330px;
    background: url(../../img/channellist/title_unfocus.png);
}

.liveTVChListTabs {
    height: 945px;
    width: 620px;
    /*margin-left: 1000px;*/
    /*float: right;*/
    background-color: rgba(0, 0, 0, 0.7);
}

/*lu*/
#livetv_chlist_channels_content {
    height: 945px;
    margin: 0px 18px 0px 20px;
    /*background: url(../../img/channellist/listborder.png);*/
    overflow: hidden;
}
#livetv_chlist_channels_content span{
    white-space: nowrap;
}

.channelContentVisible{
    visibility: visible;
}

.channelContentHidden{
    visibility: hidden;
}

#livetv_chlist_srcoll{
    width: 4px;
    height: 0;
    float: right;
    background-color: #9ba2ad;
    border-radius: 3px;
    margin-top: 400px;
    position: absolute;
    left: 1900px;
    top: 80px;
    opacity: 0.5;
}

#livetv_chlist_channels {
    min-height: 945px;
    margin: 0px 18px 0px 20px;
    /*background: url(../../img/channellist/listborder.png);*/
    /*lu*/
    /*position: relative;*/
    /*top: 405px;*/
    /*transition: top 0.1s;*/
    /*visibility: hidden;*/
}

#livetv_chlist_channels li {
    height: 135px;
    /*width: 532px;*/
    padding-left: 18px;
    padding-right: 20px;
    background: url(../../img/channellist/itemborder.png);

}

#livetv_chlist_channels li.focus {
    /*box-shadow: inset 0 0 0 4px #84ecff;*/
}

#livetv_chlist_channels li.disable {
    display: none;
}

#livetv_chlist_channels li span {
    height: 45px;
    line-height: 45px;
    color: #a1a5ac;
    display: inline-block;
    /*float: left;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#livetv_chlist_channels li.focus > div span {
    color: #f0f0f0;
}

#livetv_chlist_channels li img {
    /*float: right;*/
    margin-top: 7px;
    /*margin: 7px 5px 0px 5px;*/
}

.listChannelLine {
    height: 45px;
    padding-top: 15px;
    font-size: 34px;
    white-space: nowrap;
}

.listChannelLine span {
    min-width: 90px;
    max-width: 300px;
}
.channelNumClass{
    width: 90px;
}
.channelNameClass{
    width: 290px;
}
.listChannelLine div {
    display: inline-block;
    height: 45px;
    vertical-align: top;
}
#livetv_chlist_channels li > span {
    width: 500px;
    font-size: 28px;
}

.listProgramLine {
    display: none;
    float: left;
    background-color: #3e424b;
    height: 6px;
    width: 500px;
    margin-top: 10px;
}
#livetv_chlist_channels li.focus .listProgramLine {
    display: block;
}

.listProgramLine div {
    height: 6px;
    width: 0px;
    background-color: #00aaa6;
}

.liveTVChListInfoPanel {
    min-height: 945px;
    margin: 0px 18px 0px 20px;
    display: none;
    /*lu--*/
    position: relative;
    top: -945px;
    /*--lu*/
}

.liveTVChListInfoPanel > div {
    height: 94px;
    font-size: 36px;
    color: #c5cbda;
    padding-left: 18px;
    padding-right: 20px;
}

.liveTVChListInfoPanel > div span {
    line-height: 94px;
    min-width: 90px;
    display: inline-block;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.liveTVChListInfoPanel > div > div {
    display: inline-block;
    height: 94px;
    vertical-align: top;
}
.liveTVChListInfoPanel > div img {
    /*float: right;*/
    margin-top: 32px;
    margin-left: 2px;
}

#livetv_chlist_infos {
    height: 856px;
}

#livetv_chlist_infos li {
    height: 75px;
    padding: 23px 16px 15px 16px;
    border-bottom: 1px solid #383a3d;
}

#livetv_chlist_infos li.focus {
    height: 470px;
    box-shadow: inset 0 0 0 4px #84ecff;
    border: none;
}

#livetv_chlist_infos li.disable {
    display: none;
}

.liveTVChListProgram {
    height: 46px;
    line-height: 46px;
    font-size: 28px;
    color: #e8e8e8;
}

.liveTVChListProgram img {
    float: right;
    margin-top: 8px;
    margin-left: 2px;
}
.liveTVChListProgram span{
    white-space: nowrap;
    display: block;
}
.liveTVChListTime {
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #c5cbda;
    display: inline-block;
}

#livetv_chlist_infos li.normal .liveTVChListPrgrmProgress {
    display: none;
}

.liveTVChListDetail {
    height: 386px;
    display: none;
    color: #9ca0ac;
    font-size: 26px;
    line-height: 38px;
    overflow: hidden;
    /*text-align: left;*/
    width: 550px;
}

#livetv_chlist_infos li.focus .liveTVChListDetail {
    display: inline-block;
}

.listDetailPanel{
    height: 350px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

.listEllipsis{
    display: block;
    color: #9ca0ac;
    font-size: 26px;
    visibility: hidden;
}

.liveTVChListPrgrmProgress {
    width: 190px;
    height: 4px;
    background-color: #808080;
    float: left;
    margin: 14px 5px 0px 5px;
}

.liveTVChListPrgrmProgress > div {
    height: 4px;
    width: 50px;
    background-color: #00bdb9;
}

.liveTVChListDash {
    float: left;
    font-size: 24px;
    color: #c5cbda;
    line-height: 35px;
}

#livetv_chlist_infos li.focus .liveTVChListDash {
    display: none;
}

#livetv_chlist_infos li.normal .liveTVChListDash {
    display: block;
}

.liveTVChListTime span {
    display: block;
    float: left;
}

.liveTVChListBtns {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-right: 40px;
    position: absolute;
    left: 1300px;
    top: 1020px;
    width: 580px;
}

.liveTVChListBtns span {
    max-width: 260px;
    min-width: 90px;
    float: right;
    font-size: 24px;
    color: #9ca0ac;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    white-space: nowrap;
}

.liveTVChListBtns img {
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 10px;
}

#no_item_span {
    position: absolute;
    left: 1340px;
    top: 75px;
    height: 135px;
    box-shadow: inset 0 0 0 4px #84ecff;
    /*float: right;*/
    /*display: block;*/
    width: 544px;
    font-size: 34px;
    color: white;
    line-height: 135px;
    text-align: center;
    display: none;
}
