#livetv_password_dialog {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    /*background-color: rgba(0, 0, 0, 0.9);*/
    color: #f0f0f0;
    font-size: 36px;
}
#pswd_dialog_inputs{
    margin-left: 20px;
    text-align: center;
}
#pswd_dialog_tip{
    display: block;
    text-align: center;
}
.passwordDialogPanel{

    height: 210px;
    width: 740px;
    margin: 390px 560px 0px 560px;
    background-color: #102136;
    padding: 60px 30px 30px 30px;
}
.passwordDialogPanel li{

    /*float: left;*/
    display: inline-block;
    height: 110px;
    width: 150px;
    margin-right: 30px;
    margin-top: 50px;
}
.passwordDialogPanel input{
    border: 0;
    background-color: transparent;
    color: #f0f0f0;
    text-align: center;
    font-size: 36px;
    /*height: 100px;*/
    width: 150px;
    /*line-height: 180px;*/
}

.passwordDialogPanel li div{
    height: 10px;
    border: 5px solid #183f57;
    border-top: 0px;
}

.passwordDialogPanel li.selected div{
    border: 5px solid #84ecff;
    border-top: 0px;
}

.passwordDialogPanel li.focus div{
    border: 5px solid #84ecff;
    border-top: 0px;
}

#pswd_dialog_invalid{
    font-size: 24px;
    color: #f0f0f0;
    display: block;
    line-height: 10px;
    /*text-align: left;*/
    text-indent: 20px;
}
#pswd_dialog_invalid.disable{
    display: none;
}
