.kPadTable {
    position: relative;
    width: 960px;
    height: 276px;
    margin: 3px;
    padding: 0;
    border: 0;
    border-spacing: 0;
    border-collapse:collapse;

}

.kPadTable td {
    position: relative;
    width: 192px;
    height: 92px;
    padding: 0;
    border: 0;
    margin: 0;

}

.kPadTable div {
    position: relative;
    width: 186px;
    height: 86px;
    line-height: 86px;
    margin: 3px;
    font-size: 50px;
    color: #f0f0f0;
    text-align: center;
    padding: 0;
    border: 0;
    background-color: #49525c;
    /*rgba(73,82,92,0.9)*/
    border-radius: 4px;
}