
/*voice_help_mainpage*/
.vhm_background {
    width: 1920px;
    height: 1080px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.vhm_title {
    height: 36px;
    margin-left: 100px;
    margin-top: 60px;
    margin-right: 100px;
}

.vhm_title_txt {
    font-size: 36px;
    line-height: 36px;
    color: #fdfdfd;
}

.vhm_content {
    width: 1700px;
    height: 740px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -850px;
    margin-top: -370px;
}
.VoiceHelpUlColumn{
    position: relative;
    list-style-type: none;
    height: 740px;
    padding: 0;
    margin: 0;
}
.VoiceHelpUlColumnli_normal{
    width: 425px;
    height: 370px;
    float: left;
}
.VoiceHelpUlColumnli_focus{
    width: 425px;
    height: 370px;
    float: left;
    border-radius: 4px;
    box-shadow: inset 0 0 0 2px #0b1a39, 0 0 0 4px #bef5ff, 0 0 15px 4px #08d2f7;
}
.VoiceHelpGridUlimg_normal{
    display: block;
    margin: 90px auto 60px;
}
.VoiceHelpGridUlspan_normal{
    text-align: center;
    color: #fdfdfd;
    font-size: 36px;
    display: block;
}
/*voice_help_subpage*/
.vhs_background {
    width: 1920px;
    height: 1080px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.vhs_content {
    width: 1680px;
    height: 840px;
    margin: 120px;
}

.vhs_title {
    height: 36px;
}

.vhs_title_txt {
    font-size: 36px;
    color: #fdfdfd;
    line-height: 36px;
}

.vhs_intro {
    margin-top: 40px;
}

.vhs_intro_txt {
    font-size: 28px;
    color: #fdfdfd;
    line-height: 28px;
}

.vhs_demo2 {
    margin-top: 100px;
}

.vhs_demo2_txt {
    font-size: 28px;
    color: #fdfdfd;
    line-height: 28px;
}